# Directories content
cache/class_index.php
cache/smarty/cache/*
!cache/smarty/cache/index.php
cache/smarty/compile/*
!cache/smarty/compile/index.php
cache/tcpdf/*
!cache/tcpdf/index.php

config/xml/*.xml
config/settings.inc.php

log/*.log
log/*_log
php_errors.log

img/*
!img/index.php
!img/*/index.php

tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php

themes/default/cache/*.js
themes/default/cache/*.css

# Ignore files on root directory
robots.txt
sitemap.xml

# For PHPStorm
.idea/*

# Rewrite
.htaccess
.htpasswd

# DEV version
dev/*

# Admin
import/
admin220371/autoupgrade/backup/*
admin220371/autoupgrade/download/*
admin220371/autoupgrade/latest/*
admin220371/autoupgrade/tmp/*

.DS_Store
