# Directories content
cache/class_index.php
cache/smarty/cache/*
!cache/smarty/cache/index.php
cache/smarty/compile/*
!cache/smarty/compile/index.php
cache/tcpdf/*
!cache/tcpdf/index.php
cache/purifier/URI/*
cache/purifier/HTML/*
cache/purifier/CSS/*
!cache/purifier/index.php

config/xml/*.xml
config/settings.inc.php

admin220371/*.log
log/*.log
log/*_log
php_errors.log

img/*
!img/index.php
!img/*/index.php

tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php

themes/default/cache/*.js
themes/default/cache/*.css

# Ignore files on root directory
robots.txt
sitemap.xml

# For PHPStorm
.idea/*

# Rewrite
.htaccess
.htpasswd

# DEV version
dev/*

# Admin
import/
admin220371/autoupgrade/backup/*
admin220371/autoupgrade/download/*
admin220371/autoupgrade/latest/*
admin220371/autoupgrade/tmp/*
admin220371/autoupgrade/*.var
admin220371/autoupgrade/*.list

.DS_Store

# Modules
modules/now_import_accessories/uploads/*.csv
modules/now_import_packs/uploads/*.csv
modules/now_product_type/uploads/*.csv
modules/now_all_import/uploads/*.csv
modules/*/config_.xml
