/* Bloc customer references */

#references-clients {background:url('../img/fond-clients.png') center;width:100%;height:363px;}
#references-clients ul {list-style-type:none;margin:70px 0 0 0;}
#references-clients ul li {float:left;padding:0;width:500px;text-align:center;margin:0 70px 0 0;height:135px;}
#references-clients ul li + li {margin:0}
#references-clients ul li img {float:left;margin:0;}
#references-clients ul li p {margin:35px 0 0 0;font-style:italic;font-family:Lato,Verdana,Arial,sans-serif;text-decoration:none;color:#fff;font-weight:normal;font-size:16px;text-align:justify;}
#references-clients ul li p:before {content:url('../img/paragraphe-before.png') no-repeat;float:left;display:block;height:80px;margin:0 5px 0 5px;}
#references-clients ul li p:after {content:url('../img/paragraphe-after.png') no-repeat;float:right;display:block;margin-left:5px;}
#references-clients a.button-plus-references {font-family:Raleway,Verdana,Arial,sans-serif;border:2px solid #fff;border-radius:20px;padding:10px;text-transform:uppercase;color:#fff;text-align:center;display:block;width:200px;margin:40px auto;}
#references-clients a.button-plus-references:hover {text-decoration:none;}