/* Bloc customer references */
#references-clients {background:url('../img/fond-clients.png') center; background-size:cover; width:100%;padding-bottom:25px;}
#references-clients .carousel-customer-references {list-style-type:none;margin:70px 0 0 0;}
#references-clients .carousel-customer-references .item {position:relative;}
#references-clients .carousel-customer-references .item + .item {margin:0}
#references-clients .carousel-customer-references .item img {float:left;margin:0 15px 0 35px;}
#references-clients .carousel-customer-references .item p {margin:35px 0 0 0;font-style:italic;font-family:Lato,Verdana,Arial,sans-serif;text-decoration:none;color:#fff;font-weight:normal;font-size:16px;text-align:justify;}
#references-clients .carousel-customer-references .item p:before {content:url('../img/paragraphe-before.png');float:left;display:block;height:80px;margin:0 5px 0 5px;}
#references-clients .carousel-customer-references .item p:after {content:url('../img/paragraphe-after.png');float:right;display:block;margin-left:5px;}
#references-clients .carousel-customer-references .item a {position:absolute;right:0;color:#fff;margin:10px 0;}
#references-clients a.button-plus-references {font-family:Raleway,Verdana,Arial,sans-serif;border:2px solid #fff;border-radius:20px;padding:10px;text-transform:uppercase;color:#fff;text-align:center;display:block;width:240px;margin:40px auto;}
#references-clients a.button-plus-references:hover {text-decoration:none;}
#references-clients .slick-slide{height:inherit;}
/* Page "Nos références clients" */
#module-now_block_customer_references-default ul.list-customer-reference {margin:0;padding:0;}
#module-now_block_customer_references-default ul.list-customer-reference li {margin:0;padding:20px 0;list-style-type:none;border-top:1px solid #333;}
#module-now_block_customer_references-default ul.list-customer-reference li:first-child {border-top:none;}
#module-now_block_customer_references-default ul.list-customer-reference li img {float:left;margin:0 20px 0 0;}
#module-now_block_customer_references-default ul.list-customer-reference li div {margin:30px 0;}
#module-now_block_customer_references-default ul.list-customer-reference li div h2 {font-size:14px;font-family:Lato,Verdana,Arial,sans-serif;}


#module-now_block_customer_references-default #center_column #bandeau-cms {width:100%;background:#86b62c url('../img/fond-categorie-big.png');}
#module-now_block_customer_references-default #center_column #bandeau-cms .left {width:520px;margin-right:20px;}
#module-now_block_customer_references-default #center_column #bandeau-cms .left .titre-vert {letter-spacing:1.2px;color:#bddf60;font-size:33px;font-family:Raleway,Verdana,Arial,sans-serif;margin:35px 0 0 0;font-weight:300;text-transform:uppercase;}
#module-now_block_customer_references-default #center_column #bandeau-cms .left h1 {color:#fff;font-size:37px;font-family:Raleway,Verdana,Arial,sans-serif;font-weight:bold;margin:0;}
#module-now_block_customer_references-default #center_column #bandeau-cms .left .desc p {font-family:Lato,Verdana,Arial,sans-serif;font-size:16px;color:#fff;text-shadow:0px 0px 3px rgba(0, 0, 0, 0.6);text-align:justify;}

@media screen and (max-width:991px){	
#references-clients .carousel-customer-references .item img {float:none;margin:0 auto;}
#references-clients .carousel-customer-references .item p {margin:20px 0 0 0;text-align:center;padding:0 20px;}
#references-clients .carousel-customer-references .item p:before {float:none;height:33px;}
#references-clients .carousel-customer-references .item p:after {float:none;margin-top:10px;}
}
