#mea-home h2 {margin-top:70px;}
#mea-home ul {width:100%;margin:0 0 0 30px;padding:0;}

/* Block petit */
#mea-home ul li {width:350px;height:255px;list-style-type:none;float:left;margin:0 0 10px 50px;position:relative;}
#mea-home ul li img {float:left;margin:5px 0 0 0;}
#mea-home ul li div {margin-left:180px;}
#mea-home ul li .titre {font-family:Raleway,Verdana,Arial,sans-serif;font-size:16px;color:#333;font-weight:bold;margin-top: 0;}
#mea-home ul li .desc {font-family:Lato,Verdana,Arial,sans-serif;font-size:14px;color:#777;text-overflow:ellipsis;word-wrap:break-word;overflow:hidden;height:80px;}
#mea-home ul li .price {font-family:Lato,Verdana,Arial,sans-serif;font-size:21px;color:#333;font-weight:bold;}
#mea-home ul li .button-add-to-cart {position:absolute;z-index:2;width:180px;font-size:13px;height:40px;line-height:40px;}
#mea-home ul li .button-add-to-cart span {margin:6px 0 6px 6px;}
#mea-home ul li .link {width:100%;height:100%;display:block;top:0;position:absolute;z-index:1}

/* Bloc moyen */
#mea-home ul li.first {width:306px;height:500px;margin:0;}
#mea-home ul li.first img {border:3px solid #dbdbdb;float:none;}
#mea-home ul li.first div {margin:10px 0 0 0;}
#mea-home ul li.first div .desc {height:46px;}

@media all and (max-width:1024px) {
	body #mea-home h2 {margin-top:50px;}
	body #mea-home ul {margin-left:5px;}
	body #mea-home ul li {margin:0 5% 5% 0;}
	body #mea-home ul li.first {width:100%;height:inherit;margin: 0 0 30px 0}
	body #mea-home ul li.first div {margin:30px 0 30px 30px;float:left;width:45%;}
	body #mea-home ul li img {margin-left:10px;}
	body #mea-home ul li.first img {float:left;width:45%;}
	body #mea-home ul li.first div .desc {height:inherit;}
}

@media all and (max-width:768px) {
	body #mea-home ul li {margin:0 10px 10px 0;}
}

@media all and (max-width:480px) {
	body #mea-home ul {width:90%;margin:0 auto;}
	body #mea-home ul li.first, body #mea-home ul li {width:90%;margin:0 auto 20px auto;height:inherit;float:none;}
	body #mea-home ul li.first div, body #mea-home ul li div {float:none;margin:0 5%;width:90%;text-align: center;}
	body #mea-home ul li.first img, body #mea-home ul li img {float:none;margin:0 5%;width:90%;text-align: center;}
	body #mea-home ul li.first div .desc, body #mea-home ul li div .desc {height:inherit;text-align: center;}
	body #mea-home ul li .price {height:inherit;text-align:center;}
	body #mea-home ul li .button-add-to-cart {position:relative;}
}
