#mea-home {}
#mea-home .titre-size-1 {font-size:32px;color:#333;text-align:center;font-family:Raleway,Verdana,Arial,sans-serif;margin:30px 0;}
#mea-home ul {width:100%;margin:0;padding:0;}

/* Block petit */
#mea-home ul li {width:380px;height:255px;list-style-type:none;float:left;margin:0 8px 10px 8px;}
#mea-home ul li img {float:left;margin-right:10px;}
#mea-home ul li div {margin-left:150px;}
#mea-home ul li .titre {font-family:Raleway,Verdana,Arial,sans-serif;font-size:16px;color:#333;font-weight:bold;}
#mea-home ul li .desc {font-family:Lato,Verdana,Arial,sans-serif;font-size:14px;color:#777;text-overflow:ellipsis;word-wrap:break-word;overflow:hidden;max-height:60px;}
#mea-home ul li .price {font-family:Lato,Verdana,Arial,sans-serif;font-size:21px;color:#333;}
#mea-home ul li .button-add-to-cart {}
#mea-home ul li .link {}

/* Bloc moyen */
#mea-home ul li.first {width:306px;height:500px;margin-left:0;}
#mea-home ul li.first img {border:3px solid #dbdbdb;float:none;}
#mea-home ul li.first div {margin-left:0;}
#mea-home ul li.first .titre {}
#mea-home ul li.first .desc {}
#mea-home ul li.first .price {}
#mea-home ul li.first .button-add-to-cart {}
#mea-home ul li.first .link {}


