/* Bloc reinsurance */

#bloc-reinsurrance {border-top:1px solid #ccc;padding:40px 0;}
#bloc-reinsurrance ul {list-style-type:none;}
#bloc-reinsurrance ul li {float:left;padding:0;width:220px;text-align:center;margin:0 20px;}
#bloc-reinsurrance ul li h6, #bloc-reinsurrance ul li h6 a {color:#333;font-family:Raleway,Verdana,Arial,sans-serif;font-size:18px;font-weight:bold;text-decoration:none;}
#bloc-reinsurrance ul li p, #bloc-reinsurrance ul li p a {color:#777;font-size:14px;font-family:Lato,Verdana,Arial,sans-serif;text-decoration:none;}